<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njeport.track.auth.dao.mapper.track.SysPermissionMapper" >
    <resultMap id="BaseResult" type="com.njeport.track.auth.dao.meta.track.SysPermissionDO" >
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="component" property="component" jdbcType="VARCHAR"/>
        <result column="component_name" property="componentName" jdbcType="VARCHAR"/>
        <result column="redirect" property="redirect" jdbcType="VARCHAR"/>
        <result column="menu_type" property="menuType" jdbcType="INTEGER"/>
        <result column="perms" property="perms" jdbcType="VARCHAR"/>
        <result column="perms_type" property="permsType" jdbcType="VARCHAR"/>
        <result column="sort_no" property="sortNo" jdbcType="DOUBLE"/>
        <result column="always_show" property="alwaysShow" jdbcType="BIT"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="is_route" property="route" jdbcType="BIT"/>
        <result column="is_leaf" property="leaf" jdbcType="BIT"/>
        <result column="keep_alive" property="keepAlive" jdbcType="BIT"/>
        <result column="hidden" property="hidden" jdbcType="BIT"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag" jdbcType="INTEGER"/>
        <result column="rule_flag" property="ruleFlag" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="internal_or_external" property="internalOrExternal" jdbcType="BIT"/>
    </resultMap>

    <sql id="TableName">
        sys_permission
    </sql>

    <sql id="BaseColumn" >
        `parent_id`,
        `name`,
        `url`,
        `component`,
        `component_name`,
        `redirect`,
        `menu_type`,
        `perms`,
        `perms_type`,
        `sort_no`,
        `always_show`,
        `icon`,
        `is_route`,
        `is_leaf`,
        `keep_alive`,
        `hidden`,
        `description`,
        `create_by`,
        `create_time`,
        `update_by`,
        `update_time`,
        `del_flag`,
        `rule_flag`,
        `status`,
        `internal_or_external`
    </sql>

    <sql id="queryByCondition">
        <if test="params.delFlag!=null">
            and del_flag=#{params.delFlag}
        </if>
        <if test="params.menuType!=null">
            and `menu_type`=#{params.menuType}
        </if>
    </sql>

    <select id="getPermissionsByUsername" resultMap="BaseResult">
        SELECT p.*
        FROM  sys_permission p
        WHERE exists(
                select a.id from sys_role_permission a
                                     join sys_role b on a.role_id = b.id
                                     join sys_user_role c on c.role_id = b.id
                                     join sys_user d on d.id = c.user_id
                where p.id = a.permission_id AND d.username = #{username,jdbcType=VARCHAR}
            )
          and p.del_flag = 0
        order by p.sort_no ASC
    </select>

    <select id="getPermissionList" resultMap="BaseResult">
        select * from
        <include refid="TableName"/>
        where
        1=1
        <include refid="queryByCondition" />
        <if test="params.column!=null and params.column!=''">
            order by ${params.column}
        </if>
        <if test="params.order!=null and params.order!=''">
            ${params.order}
        </if>
    </select>

    <select id="countByIds" resultType="java.lang.Integer">
        select count(*) from
        <include refid="TableName"/>
        where id in
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="getPermissionsByRoleId" resultMap="BaseResult">
        select re.*
        from
            sys_role_permission rr
            LEFT JOIN sys_permission re ON rr.permission_id = re.id
        where
            rr.role_id = #{roleId} and re.del_flag = 0
    </select>

    <insert id="insert" keyProperty="id" useGeneratedKeys="false">
        INSERT INTO
          <include refid="TableName" /> (id, <include refid="BaseColumn" />)
        VALUES(
          #{id,jdbcType=VARCHAR},
          #{parentId,jdbcType=VARCHAR},
          #{name,jdbcType=VARCHAR},
          #{url,jdbcType=VARCHAR},
          #{component,jdbcType=VARCHAR},
          #{componentName,jdbcType=VARCHAR},
          #{redirect,jdbcType=VARCHAR},
          #{menuType,jdbcType=INTEGER},
          #{perms,jdbcType=VARCHAR},
          #{permsType,jdbcType=VARCHAR},
          #{sortNo,jdbcType=DOUBLE},
          #{alwaysShow,jdbcType=BIT},
          #{icon,jdbcType=VARCHAR},
          #{route,jdbcType=BIT},
          #{leaf,jdbcType=BIT},
          #{keepAlive,jdbcType=BIT},
          #{hidden,jdbcType=BIT},
          #{description,jdbcType=VARCHAR},
          #{createBy,jdbcType=VARCHAR},
          NOW(),
          #{updateBy,jdbcType=VARCHAR},
          NOW(),
          #{delFlag,jdbcType=INTEGER},
          #{ruleFlag,jdbcType=INTEGER},
          #{status,jdbcType=INTEGER},
          #{internalOrExternal,jdbcType=BIT}
        )
    </insert>

    <update id="update">
        UPDATE
          <include refid="TableName"/>
        <set>
            <if test="parentId != null" >
              `parent_id` = #{parentId},
            </if>
            <if test="name != null" >
              `name` = #{name},
            </if>
            <if test="url != null" >
              `url` = #{url},
            </if>
            <if test="component != null" >
              `component` = #{component},
            </if>
            <if test="componentName != null" >
              `component_name` = #{componentName},
            </if>
            <if test="redirect != null" >
              `redirect` = #{redirect},
            </if>
            <if test="menuType != null" >
              `menu_type` = #{menuType},
            </if>
            <if test="perms != null" >
              `perms` = #{perms},
            </if>
            <if test="permsType != null" >
              `perms_type` = #{permsType},
            </if>
            <if test="sortNo != null" >
                `sort_no` = #{sortNo},
            </if>
            <if test="alwaysShow != null" >
                `always_show` = #{alwaysShow},
            </if>
            <if test="icon != null" >
              `icon` = #{icon},
            </if>
            <if test="route != null" >
                `is_route` = #{route},
            </if>
            <if test="leaf != null" >
                `is_leaf` = #{leaf},
            </if>
            <if test="keepAlive != null" >
                `keep_alive` = #{keepAlive},
            </if>
            <if test="hidden != null" >
                `hidden` = #{hidden},
            </if>
            <if test="description != null" >
              `description` = #{description},
            </if>
            <if test="createBy != null" >
              `create_by` = #{createBy},
            </if>
            <if test="updateBy != null" >
              `update_by` = #{updateBy},
            </if>
            `update_time` = NOW(),
            <if test="delFlag != null" >
                `del_flag` = #{delFlag},
            </if>
            <if test="ruleFlag != null" >
              `rule_flag` = #{ruleFlag},
            </if>
            <if test="status != null" >
              `status` = #{status},
            </if>
            <if test="internalOrExternal != null" >
                `internal_or_external` = #{internalOrExternal},
            </if>
        </set>
        WHERE
          `id` = #{id}
    </update>

    <select id="getById" resultMap="BaseResult">
        SELECT
          id, <include refid="BaseColumn" />
        FROM
          <include refid="TableName"/>
        WHERE
          `id` = #{id}
    </select>

    <delete id="deleteById">
        DELETE
        FROM
          <include refid="TableName"/>
        WHERE
          `id` = #{id}
    </delete>
</mapper>